/*-------------------------------------------*\
    TAGS
\*-------------------------------------------*/

body{
    margin-top: 70px;
}
body.show{
    overflow: hidden;
}

img{
    width: 100%;
    height: auto;
}

.px-0{
    padding-left: 0;
    padding-right: 0;
}

#ajaxBusy{
    display: none !important;
}

ul,li{ 
    list-style: none; 
    padding-left: 0;
}

a,
a:hover,
a:visited,
a:active,
a:focus{
    text-decoration: none;
    
}

button:focus{
    outline: none;
}

input:focus{
    outline: none;
}