<script src="https://bioplastic.vteximg.com.br/arquivos/bootstrap.js"></script>
<script src="https://bioplastic.vteximg.com.br/arquivos/swiper-bundle.min.js"></script>
<script src="https://bioplastic.vteximg.com.br/arquivos/commons.js"></script>